$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-monospace: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
